@import url(font-awesome.min.css);



body {  }

section{
    padding-top: 100px;
    padding-bottom: 100px;
}


h1, h2, h3, h4, h5, h6, p, figure{
    margin: 0;
}

h2{
    color: #775ba3;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    word-spacing: 0.2em;
}


/*style for Header*/

.navbar-default {
    background-color: #62487a;
    opacity: 0.5;
    border-color: transparent;
}

.navbar{
    border: none;
}

.navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 100px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
    color: #ffffff;
    background-color: transparent;
    border-bottom: 2px solid #f8e1b4;
}

.navbar-default .navbar-nav > li > a{
    color: #ffffff;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #ffffff;
    border-bottom: 2px solid #f8e1b4;
}

.nav > li > a{
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 7px;
    margin-left: 7px;
}

/*style for Peuple*/

#peuple{
    background-color: #ffffff;
}

#peuple p{
    color: #4b3f55;
    font-size: 23px;
    font-weight: bold;
    line-height: 1.5;
}

/*style for Postérité*/

#postérité{
    background-color: #fcfcfc;
    border: 1px solid #91c5a9;
}

#postérité figure{
    position: relative;
}

#postérité figure > img{
    position: absolute;
    top: 48px;
    left: 230px;
}



#postérité p:first-child{
    width: 100px;
    height: 100px;
    border: 2px solid #4b3f55;
    border-radius: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    position: relative;
}
#postérité p:first-child > i{
    font-size: 60px;
    position: absolute;
    top: 17px;
    left: 23px;
}
#postérité div:nth-child(2) p:first-child > i{
    left: 19px;
}

#postérité p:last-child{
    color: #4b3f55;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.7;

}

#postérité p:last-child > span{
    color: #91c5a9;
    font-size: 53px;
    line-height: 0.55;
}


/*style for Notre Equipe*/

#notreEquipe{
    background-color: #ffffff;
}

#notreEquipe .thumbnail{
    border: none;
}


#notreEquipe .thumbnail > img{
    border-bottom: 2px solid #91c5a9;
}

#notreEquipe .thumbnail > .caption > h3{
    color: #91c5a9;
    font-size: 15px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 3px solid #91c5a9;
}

#notreEquipe .thumbnail > .caption > h3 > small{
    color: #91c5a9;
    font-size: 12px;
    font-weight: bold;
}

#notreEquipe .thumbnail > .caption > p{
    color: #4b3f55;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 35px;
}

#notreEquipe .thumbnail > .caption .btn-primary{
    background-color: #3b5998;
    border-color: transparent;
}
#notreEquipe .thumbnail > .caption .btn{
    background-image: none;
    border: none;
    border-radius: 0;
}
#notreEquipe .thumbnail > .caption .btn-default{
    color: #ffffff;
    background-color: #ea4c88;
    border-color: transparent;
}
#notreEquipe .thumbnail > .caption .btn-info{
    background-color: #00aced;
    border-color: transparent;
}
#notreEquipe .thumbnail > .caption .btn-success{
    background-color: #c70c0c;
    border-color: transparent;
}
/*style for Quote Carousel*/

blockquote .small::before, blockquote footer::before, blockquote small::before {
    content: "";
}

#quoteCarousel h2 > span{
    color: #ff1717;
}

#quoteCarousel blockquote{
    border-left: none;
}

#quoteCarousel blockquote .georgClooney{
    padding: 7px;
    border: 3px solid #91c5a9;
}

#quoteCarousel blockquote .col-md-9{
    margin-top: 25px;
}

#quoteCarousel blockquote .col-md-9 > p{
    color: #4b3f55;
    font-size: 27px;
    line-height: 1.8;
}
#quoteCarousel blockquote .col-md-9 > small{
    color: #7e63a8;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

}
#quoteCarousel blockquote .col-md-3{
    position: relative;
}
#quoteCarousel blockquote .col-md-3 > .circleArrow{
    position: absolute;
    top: 69px;
    right: 20px;
}


#quote-carousel .carousel-control.left{
    background-image: none;
}
#quote-carousel .carousel-control.right{
    background-image: none;
}
#quote-carousel .carousel-control.left > img{
    position: relative;
    left: 205px;
    top: 5px;
}
#quote-carousel .carousel-control.right > img{
    position: relative;
    left: 85px;
    top: 150px;
}


/*Isotope*/
#isotope {
    padding-top: 0;
}
#isotope h2{
    margin-bottom: 15px;
}
#isotope .col-md-3{
    padding-left: 0;
    padding-right: 0;
}



/* ---- button ---- */


.button {
    display: inline-block;
    margin: 1rem ;
    background: #fff;
    border: none;
    color: #775ba3;
    font-family: sans-serif;
    font-size: 16px;
    text-shadow: 0 1px white;
    cursor: pointer;
    font-weight: 600;
    border-bottom: 3px solid transparent;
}

.button:hover{
    border-bottom: 3px solid #775ba3;
}

/* ---- button-group ---- */

.button-group {
    margin-bottom: 25px;
}

.button-group:after {
    content: '';
    display: block;
    clear: both;
}































/*Custom Responsive*/


@media (max-width: 768px) {

    .nav > li > a{
        display: inline-block;
    }

    #postérité p:first-child{
        margin-top: 30px;
        margin-bottom: 30px;
    }

}
@media (min-width: 768px) and (max-width: 992px) {
    .navbar-brand{
        padding-right: 30px;
    }
    .nav > li > a{
        padding-right: 8px;
        padding-left: 8px;
        margin-right: 5px;
        margin-left: 5px;
    }





}
